/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 5/08/2022, 12:18:34
    Author     : Angel Vargas
*/

.class{
   font-size: 25px; 
}

.banner{
    background: url(../images/logo5.png);
    background-size: 50%;
    height: 400px;
    
  
}

.titulo{
    padding: 80px;
    text-shadow: 0 3px 5px;
    font-weight: bold;
    font-size: 52px;

}

.footer{
    
    
    
}
    
 